
.sliderCard {
    height: 550px !important;
    width: 100% !important;
}

.sliderMainHeading {
    font-size: 6.5vw;
    color: white; 
    font-weight: bolder;
    white-space: nowrap; 
    position: relative;
    animation: mymove 5s;
    animation-delay: 0;
    animation-fill-mode: both;
}
@keyframes mymove {
  0% {
    left: -509px;
    top: 100px;
  }
  25% {
    left: -309px;
    top: 100px;

  }
  100% {
    left: -4.5vw;
    top: 100px;
  }
}
.sliderSubHeading {
    color: white; 
    font-size: 2.2vw;
    white-space: nowrap; 
    position: relative;
    animation: mymove2 5s;
    animation-delay: 0;
    animation-fill-mode: both;
}
@keyframes mymove2 {
  0% {
    left: 150px;
    top: 330px;
  }
  25% {
    left: 150px;
    top: 199px;
  }
  100% {
    left: 10vw;
    top: 90px;
  }
}

@media (max-width: 767px){
    .sliderCard {
        height: 300px !important;
        /* width: 400% !important; */
    }

    .sliderMainHeading {
      font-size: 1.4em !important;
    }

    .sliderSubHeading {
      font-size: 0.8em;
    }

    @keyframes mymove {
      0% {
        left: -309px;
        top: 0px;
      }
      25% {
        left: -109px;
        top: 0px;

      }
      100% {
        left: -9px;
        top: 0px;
      }
    }

    @keyframes mymove2 {
      0% {
        left: 0px;
        top: 230px;
      }
      25% {
        left: 0px;
        top: 99px;
      }
      100% {
        left: 0px;
        top: 0px;
      }
    }
}


