
.sliderCard {
    height: 550px !important;
    width: 100% !important;
}

.sliderMainHeading {
    font-size: 5em;
    color: white; 
    font-weight: bolder;
    white-space: nowrap; 
    position: relative;
    animation: mymove 5s;
    animation-delay: 0;
    animation-fill-mode: both;
}
@keyframes mymove {
  0% {
    left: -509px;
    top: 100px;
  }
  25% {
    left: -309px;
    top: 100px;

  }
  100% {
    left: -89px;
    top: 100px;
  }
}
.sliderSubHeading {
    color: white; 
    font-size: 1.8em;
    white-space: nowrap; 
    position: relative;
    animation: mymove2 5s;
    animation-delay: 0;
    animation-fill-mode: both;
}
@keyframes mymove2 {
  0% {
    left: 150px;
    top: 330px;
  }
  25% {
    left: 150px;
    top: 199px;
  }
  100% {
    left: 150px;
    top: 90px;
  }
}

@media (max-width: 767px){
    .sliderCard {
        height: 300px !important;
        width: 400% !important;
    }

}


