.loginContainer {
    display: flex !important;
    /* flex: 1; */
    /* flex-direction: row; */
    width: 40%;
    height: 600px;
    justify-content: center !important;
    align-content: center !important;
    box-shadow: 2px 2px 5px 5px #a4a5a8 !important;
    margin-top: 7vw !important;
}

.loginTextFeild {
    width: 100% !important;  
    margin-bottom: 30px !important;
}

.loginButton {
    width: 250px !important; 
    height: 40px !important; 
    margin-bottom: 15px !important; 

    margin-left: 100px !important
}

.forgetButton {
    width: 250px !important; 
    height: 40px !important;
    margin-bottom: 30px !important;
    background-color: #1c346d !important;
    margin-left: 100px !important
}

.loginHeading {
    margin-top: 80px !important; 
    font-weight: bold !important; 
}

@media (max-width: 767px) {
    .loginContainer {
        width: 100%;
        height: 600px;
    }
    .loginButton {
        width: 200px !important; 
        margin-left: 40px !important
    }
    .forgetButton {
        width: 200px !important; 
        margin-left: 40px !important
    }
}