.root {
    flex-grow: 1;
}
.appBar {
    background-color: rgba(40, 40, 40, 0) !important;
    height: 70px !important ;
    flex-direction: row !important;
    justify-content: center !important;
}

.toolbar {
    align-items: flex-start;
    min-height: 128px;
}

.menue {
    justify-items: right
}

.windowMenue {
    padding: 14px !important;
    margin-left: 20px !important;
    width: fit-content;
    cursor: pointer;
    margin-top: 20px !important;

}
.windowMenue:after {
  content: "";
  background: #90c8ee;
  display: block;
  position: absolute;
  padding-top: 17%;
  padding-left: 25%;
  margin-left: -16px !important;
  margin-top: -12%;
  opacity: 0;
  transition: all 0.8s
}

.windowMenue:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
@media (max-width: 767px){
    .draweMenu {
        width: 100% !important;
        margin-left: -0px !important;
        color: black !important;
    }
    .appBar {
        justify-content: flex-start !important;
    }
}