.root {
    flex-grow: 1;
}
.appBar {
    background-color: rgb(23, 137, 113) !important;
    height: 70px !important ;
    flex-direction: row !important;
    justify-content: flex-end !important;
    /* margin-top: 40px; */
}

.toolbar {
    align-items: flex-start;
    min-height: 128px;
}

.menue {
    justify-items: right
}

.windowMenue {
    color: white !important;
    font-size: large !important;
    font-weight: 400 !important;
    padding: 14px !important;
    /* padding-bottom: 5px !important; */
    margin-left: 20px !important;
    width: fit-content;
    cursor: pointer;
    /* margin-top: 20px !important; */
    /* border-bottom: 3px solid #178971; */
}
.windowMenue:after {
  content: "";
  background: #d6eea0;
  display: block;
  position: absolute;
  padding-top: 17%;
  padding-left: 25%;
  margin-left: -16px !important;
  margin-top: -12%;
  opacity: 0;
  transition: all 0.8s
}

.windowMenue:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
@media (max-width: 767px){
    .draweMenu {
        width: 100% !important;
        margin-left: -0px !important;
        color: black !important;
    }
    .appBar {
        justify-content: flex-start !important;
    }
}